{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="static/login.css">
    <title>Login</title>
</head>
<body>
   <div>
     <h1>Login</h1>
     <form method="post">
       <p><input type="email" name="email" placeholder="Email" required></p>
       <p><input type="password" name="password" placeholder="Password" required></p>
       <p><input type="submit" value="Login"></p>
      </form>
    </div> 
</body>
</html>
{% endblock %}